---
Checks:  >
    -*,
    bugprone-*,
    -bugprone-narrowing-conversions,
    -bugprone-incorrect-roundings,
    -bugprone-branch-clone,
    -bugprone-reserved-identifier,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-assignment-in-if-condition,
    -bugprone-switch-missing-default-case,
    performance-*,
    -performance-avoid-endl,
    -performance-enum-size,
    readability-*,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-enum-initial-value,
    -readability-avoid-nested-conditional-operator,
    -readability-use-std-min-max,
    -readability-isolate-declaration,
    -readability-math-missing-parentheses,
    -readability-function-cognitive-complexity,
    -readability-avoid-unconditional-preprocessor-if,
    -readability-suspicious-call-argument,
    -readability-string-compare,
    modernize-*,
    -modernize-macro-to-enum,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    -modernize-avoid-c-arrays,
    -modernize-use-std-print,
    -modernize-return-braced-init-list,
    -modernize-use-integer-sign-comparison,
    google-explicit-constructor,
    misc-non-copyable-objects,
    misc-redundant-expression,
    misc-static-assert,
    misc-unconventional-assign-operator,
    misc-uniqueptr-reset-release,
    -clang-analyzer-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
FormatStyle:     none
User:            user
CheckOptions:
  - key:             modernize-use-using.IgnoreExternC
    value:           '1'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           '1'
  - key:             readability-simplify-boolean-expr.IgnoreMacros
    value:           '1'
  - key:             readability-named-parameter.InsertPlainNamesInForwardDecls
    value:           '1'
...
