.cvsignore
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
compile
ChangeLog
poppler-cairo.pc
poppler-cpp.pc
poppler-glib.pc
poppler-qt.pc
poppler-qt4.pc
poppler-qt5.pc
poppler-splash.pc
poppler.pc
stamp-h1
gtk-doc.make
*.o
*~
*.exe
poppler-cairo-uninstalled.pc
poppler-cpp-uninstalled.pc
poppler-glib-uninstalled.pc
poppler-qt-uninstalled.pc
poppler-qt4-uninstalled.pc
poppler-qt5-uninstalled.pc
poppler-splash-uninstalled.pc
poppler-uninstalled.pc
